/*****************************通用样式****************************/
body{
    font-family: "Helvetica", "Roboto", "Segoe UI", "Arial", sans-serif;
    color: #000;
}

.btn-register {
    color: #ffffff;
    background-color: #0AB4F7;
    border-color: #FFFFFF;
}

.btn-register:hover,
.btn-register:focus,
.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    color: #ffffff;
    background-color: #086DF2;
    border-color: #FFFFFF;
}

.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    background-image: none;
}

.btn-register.disabled,
.btn-register[disabled],
fieldset[disabled] .btn-register,
.btn-register.disabled:hover,
.btn-register[disabled]:hover,
fieldset[disabled] .btn-register:hover,
.btn-register.disabled:focus,
.btn-register[disabled]:focus,
fieldset[disabled] .btn-register:focus,
.btn-register.disabled:active,
.btn-register[disabled]:active,
fieldset[disabled] .btn-register:active,
.btn-register.disabled.active,
.btn-register[disabled].active,
fieldset[disabled] .btn-register.active {
    background-color: #0AB4F7;
    border-color: #FFFFFF;
}

.btn-register .badge {
    color: #0AB4F7;
    background-color: #ffffff;
}


@font-face {
    font-family: icomoon;
    src: url("../fonts/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon.svg") format("svg"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff");
}

[class^="icon-"],
[class*=" icon-"]{
    font-family: icomoon;
    font-style: normal;
}

/*****************************通用样式****************************/


/*****************************头部样式****************************/

#lk_header{

}

#lk_header .top-bar{
    height: 42px;
    line-height: 39px;
    border: 1px solid #e0e0e0;
}
#lk_header .top-bar .container .row>div+div{
    border-left: 1px solid #e0e0e0;
}
#lk_header .top-bar .container .row .top-bar1 a{
    position: relative;
}
#lk_header .top-bar .container .row .top-bar1 a img{
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    margin-top: -10px;
    z-index: 9999;
}
#lk_header .top-bar .container .row .top-bar1 a:hover img{
    display: block;
}

.icon-phone::before{
    content: '\e958';
    font-size: 13px;
}
.icon-tel::before{
    content: '\e942';
    font-size: 13px;
}
.icon-location::before{
    content: '\e948';
    font-size: 13px;
}
.icon-home::before{
    content: '\e900';
    font-size: 13px;
}

#lk_header .navbar-lk{
    background-color: #fff;
    margin-bottom: 0;
}
#lk_header .navbar-lk .navbar-brand{
    height: 70px;
    padding: 10px 15px;
}

#lk_header .navbar-lk .navbar-nav a{
    height: 70px;
    line-height: 40px;
}

#lk_header .navbar-lk .navbar-nav li.active a,
#lk_header .navbar-lk .navbar-nav li a:hover {
    background-color: transparent;
    border-bottom: 2px solid #0ab4f7;
}

#lk_header .navbar-lk .navbar-toggle {
    margin-top: 17px;
}

/*****************************头部样式****************************/

/*****************************轮播图样式****************************/
#lk_carousel{

}

#lk_carousel .item{
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

@media screen and (min-width: 800px){
    #lk_carousel .item {
        height: 410px;
    }
}

/****************************轮播图样式****************************/

/****************************关于图样式****************************/
#lk_about{
    padding: 20px 0;
}
#lk_about .title img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 15px;
}

#lk_about .row p{
    line-height: 29px;
    font-size: 15px;
}
/****************************关于图样式****************************/


/****************************产品特色样式****************************/
#lk_product{
    background-color: #f0f0f0;
    padding: 30px 0;
}

#lk_product .nav{
    font-size: 18px;
}

#lk_product .nav a{
    color: #999;
}

#lk_product .nav li.active a{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #0AB4F7;
    color: #000;
}
/****************************产品特色样式****************************/

/****************************产品特色样式****************************/
#lk_product .tab-content{
    padding-top: 20px;
}
#lk_product .pd_left{
    padding: 40px 0;
}
#pd_one_1{
    margin: 15px 0;
}
#pd_one_2 ol{
    background-color: transparent;
}
#pd_one_4{
    margin: 15px 0;
}

#lk_product #pd_two_1{
    padding: 100px;
}
#lk_product #pd_two_1 h1{
    margin-bottom: 15px;
}
/****************************产品特色样式****************************/

/****************************热门课程样式****************************/
#lk_hot .lesson{
    padding: 15px 10px;
}
#lk_hot .lesson .media-left{
    width: 20%;
}
#lk_hot .lesson .media-body{
    width: 60%;
    vertical-align: middle;
}
#lk_hot .lesson .media-right{
    width: 20%;
    text-align: left;
    font-size: 16px;
    vertical-align: middle;
}
/****************************热门课程样式****************************/

/****************************友情链接样式****************************/
#lk_link .logos{
    list-style: none;
    text-align: center;
}
#lk_link .logos li{
    display: inline-block;
    padding: 20px 30px;
}
/****************************友情链接样式****************************/

/****************************尾部样式****************************/
#lk_footer{
    width: 100%;
    height: 200px;
    background: url("../imgs/map.jpg") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    color: #fff;
    font-size: 16px;
}
#lk_footer ul{
    list-style: none;
}

#lk_footer .one, #lk_footer .two{
    padding: 10px;
    border-right: 1px solid #666;
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lk_footer .one li{
    line-height: 40px;
}

#lk_footer .three{
    padding: 10px 50px ;
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#lk_footer .three a{
    margin-right: 15px;
    text-decoration: none;
}

#lk_footer .one li a{
    color: #FFFFFF;
}


/****************************尾部样式****************************/
